<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh" xml:lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>目录</title>
	<link type="text/css" href="styles.css" rel="Stylesheet"/>
</head>
<body>

<div id="toc">
	<h2>
		目录 <br />
	</h2>
	<ul>
		{% for item in navigation %}
    		<li><a href = {{ item["fileName"] }}>{{ item["title"] }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="pagebreak"></div>
</body>
</html>